@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Proyectos / Programas</h2>

<table class="table">
    <tr>
        <th>
           TITULO TABLE
        </th>
    </tr>
</table>

