<head>
</head>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PECOR</h1>
    <p class="lead">Aplicacion administración PECOR</p>
    
</div>

<!-- >div class="row">
    <div class="col-md-4">
        <h2>Creación De Centros Poblados</h2>
        <p>@Html.ActionLink("Ir a creacion", "Crear", "Home") &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Validacion De Centros Poblados</h2>
        <p>@Html.ActionLink("Ir a Validacion", "Validar", "Home") &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Actualizacion de centros poblados</h2>
        <p>@Html.ActionLink("Crear", "Crear", "Home") &raquo;</p>
    </div>
</div -->




