@{
    ViewBag.Title = "Administración Pecor";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="list-group">
    <a href="../PriorizacionUno/" class="list-group-item">
        <h4 class="list-group-item-heading">PRIORIZACIÓN</h4>
        <p class="list-group-item-text">Permite priorizar planes y proyectos.</p>
    </a>
</div>

<div class="list-group">
    <a href="../Usuarios/" class="list-group-item">
        <h4 class="list-group-item-heading">Usuarios</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar, Asignar Permisos) el listado de USUARIOS</p>
    </a>
    <a href="../pcPlanes/" class="list-group-item">
        <h4 class="list-group-item-heading">Planes Pecor</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) la clasificación de Planes, indispensable para Crear los Proyectos </p>
    </a>
    <a href="../pcOrganizacion/" class="list-group-item">
        <h4 class="list-group-item-heading">Operador de Red</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de Organizaciones</p>
    </a>
    <a href="../pcTipoOrg/" class="list-group-item">
        <h4 class="list-group-item-heading">Tipo Organización</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el tipo de Organizaciones, indispensable para Crear las organizaciones </p>
    </a>
    <a href="../pcCLase/" class="list-group-item">
        <h4 class="list-group-item-heading">Clase Proyecto</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) la clasificación de Proyectos, indispensable para Crear los Proyectos </p>
    </a>
</div>