@{
    ViewBag.Title = "Registro";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="list-group">
    <a href="../pcProyecto/" class="list-group-item">
        <h4 class="list-group-item-heading">Proyecto</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de Proyectos/Programas</p>
    </a>
</div>